.jumbotron {
    background-color: #A2FF33;
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #E0FF33;
    margin-bottom: 0px;
    margin-top:20px;
}

.carta-hotel {
    flex:1 260px;
    padding: 4px 6px 4px 6px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}